<div *ngIf="album; else loadingAlbum" class="albumTitle">
  <div>
    <img [src]="album.img" alt="{{ album.name }}" width="100">
  </div>
  <p>{{album?.name}}</p>
</div>

<div class="songs" *ngIf="songs; else loadingSongs">
  <div *ngFor="let song of songs" (click)="showSong(song.id)" class="song" style="background-image: url('{{song.img}}')">
    <p>{{ song.name }}</p> 
    <ng-container *ngFor="let performerId of song.performers"> 
      <a  *ngIf="getPerformerName(performerId)" (click)="showPerformer(performerId, $event)">{{getPerformerName(performerId)}}</a>
    </ng-container>
  </div>
</div>

<ng-template #loadingSongs class="emptyBody">
  <p>Cargando canciones...</p>
</ng-template>

<ng-template #loadingAlbum class="emptyBody">
  <p>Cargando album...</p>
</ng-template>