<div class="songs" *ngIf="songs; else loading">
  <div *ngFor="let song of songs" (click)="showSong(song.id)" class="song">
    <div>
      <img [src]="song.img" alt="{{ song.name }}" width="100">
    </div>
    <div>
      <p>{{ song.name }}</p> 
      <div>
        <ng-container *ngFor="let performerId of song.performers">
          <button *ngIf="getPerformerName(performerId)" (click)="showPerformer(performerId, $event)">{{ getPerformerName(performerId) }}</button>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <p>Cargando canciones...</p>
</ng-template>