<div class="ownCarousel">
    <div class="title">
        <h1>Top Tracks</h1>
    </div>
    <div class="carouselContainer">
        <div [ngStyle]="{ 'background-image': 'url(' + selectedAlbum?.img + ')' }" class="carouselImg">
            <div>
                <ul>
                    <li *ngFor="let album of albums; let i = index">
                        <button type="button" role="tab" [attr.aria-label]="(i + 1) + ' de ' + albums.length" (click)="selectAlbum(album)" [class.active]="selectedAlbum === album"></button>
                    </li>
                </ul>
            </div>
        </div>
        <div *ngIf="selectedAlbum" class="carouselInfo" (mouseenter)="showButton = true" (mouseleave)="showButton = false" (click)="showAlbum(selectedAlbum.id)">
            <h1>{{selectedAlbum.name}}</h1> 
            <ng-container *ngIf="songs.length > 0; else noSongs">
                <span *ngFor="let song of songs | slice:0:3">{{ song.name }}{{ songs.indexOf(song) < 2 ? ', ' : '' }}</span>
                <span *ngIf="selectedAlbum.songs.length > 3">...</span>
            </ng-container>
            <ng-template #noSongs>
                <span>No hay canciones disponibles</span>
            </ng-template>
            <span class="afterOrBefore"></span>
        </div>
    </div>
</div>